html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

body {
    font-family: $font-primary;
    color: $color-secondary;

    @include general-font (0.03em, 1.71, 14px, 400);
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

ul {
    list-style:none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

section {
    padding-top: 94px;
    padding-bottom: 94px;
}