.hero {
    background-color: $color-background;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../../images/img.jpg);
    background-position: center;
}
.hero__title {
    color:$color--accent-text;
    margin-bottom: 30px;
    text-transform: uppercase;
    text-align: center;
    @include general-font (0.06em, 1.36, 44px, 900);
}

.hero__button {
    color: $color--accent-text;
    background-color: $color-accent;
    @include general-font (0.06em, 1.88, 16px, 700);
    cursor: pointer;
    border: 1px transparent;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    text-align: center;
}