header {
    border-bottom: 1px solid #ECECEC;
}

.conteiner__header {
    display: flex;
    align-items: baseline;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.site-nav__link.current {
    color: $color-accent;
}
.site-nav {
    display: flex;
}
.site-nav__list {
    display: flex;
}
.site-nav__item {
    margin-right: 50px;
    &:last-child {
    margin-right: 0px;}
}

.site-nav__link {
    display: flex;
    color: $color-primary;
    @include general-font (0.02em, 1.14, 14px, 500);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover, &:focus {
    outline: none;
    color: $color-accent;}
}


.contacts {
    display: flex;
    margin-left: auto;
}
.contacts__item {
    margin-right: 30px;

    &:last-child {
    margin-right: 0px;
    }
}
.contacts__link {
    display: flex;
    align-items: center;
    color: $color-secondary;
    @include general-font (0.02em, 1.14, 14px, 500);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    &:hover, &:focus {
    outline: none;
    color: $color-accent;
    }
}
.contacts__icon {
    fill: currentColor;
    margin-right: 10px;
}

.current {
    position: relative;
    color: $color-accent;
}

    .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $color-accent;
    border-radius: 2px;

    position: absolute;
    bottom: 0;
    left: 0;
}